
out/artifacts/javafx-sdk-16/legal/javafx.base/ASSEMBLY_EXCEPTION
out/artifacts/javafx-sdk-16/legal/javafx.base/LICENSE
out/artifacts/javafx-sdk-16/legal/javafx.controls/ADDITIONAL_LICENSE_INFO
out/artifacts/javafx-sdk-16/legal/javafx.controls/ASSEMBLY_EXCEPTION
out/artifacts/javafx-sdk-16/legal/javafx.controls/LICENSE
out/artifacts/javafx-sdk-16/legal/javafx.fxml/ADDITIONAL_LICENSE_INFO
out/artifacts/javafx-sdk-16/legal/javafx.fxml/ASSEMBLY_EXCEPTION
out/artifacts/javafx-sdk-16/legal/javafx.fxml/LICENSE
out/artifacts/javafx-sdk-16/legal/javafx.graphics/ADDITIONAL_LICENSE_INFO
out/artifacts/javafx-sdk-16/legal/javafx.graphics/ASSEMBLY_EXCEPTION
out/artifacts/javafx-sdk-16/legal/javafx.graphics/jpeg_fx.md
out/artifacts/javafx-sdk-16/legal/javafx.graphics/LICENSE
out/artifacts/javafx-sdk-16/legal/javafx.graphics/mesa3d.md
out/artifacts/javafx-sdk-16/legal/javafx.media/ADDITIONAL_LICENSE_INFO
out/artifacts/javafx-sdk-16/legal/javafx.media/ASSEMBLY_EXCEPTION
out/artifacts/javafx-sdk-16/legal/javafx.media/directshow.md
out/artifacts/javafx-sdk-16/legal/javafx.media/glib.md
out/artifacts/javafx-sdk-16/legal/javafx.media/gstreamer.md
out/artifacts/javafx-sdk-16/legal/javafx.media/libffi.md
out/artifacts/javafx-sdk-16/legal/javafx.media/LICENSE
out/artifacts/javafx-sdk-16/legal/javafx.swing/ADDITIONAL_LICENSE_INFO
out/artifacts/javafx-sdk-16/legal/javafx.swing/ASSEMBLY_EXCEPTION
out/artifacts/javafx-sdk-16/legal/javafx.swing/LICENSE
out/artifacts/javafx-sdk-16/legal/javafx.web/ADDITIONAL_LICENSE_INFO
out/artifacts/javafx-sdk-16/legal/javafx.web/ASSEMBLY_EXCEPTION
out/artifacts/javafx-sdk-16/legal/javafx.web/icu_web.md
out/artifacts/javafx-sdk-16/legal/javafx.web/libxml2.md
out/artifacts/javafx-sdk-16/legal/javafx.web/libxslt.md
out/artifacts/javafx-sdk-16/legal/javafx.web/LICENSE
out/artifacts/javafx-sdk-16/legal/javafx.web/webkit.md
out/artifacts/javafx-sdk-16/lib/javafx-swt.jar
out/artifacts/javafx-sdk-16/lib/javafx.base.jar
out/artifacts/javafx-sdk-16/lib/javafx.controls.jar
out/artifacts/javafx-sdk-16/lib/javafx.fxml.jar
out/artifacts/javafx-sdk-16/lib/javafx.graphics.jar
out/artifacts/javafx-sdk-16/lib/javafx.media.jar
out/artifacts/javafx-sdk-16/lib/javafx.properties
out/artifacts/javafx-sdk-16/lib/javafx.swing.jar
out/artifacts/javafx-sdk-16/lib/javafx.web.jar
out/artifacts/javafx-sdk-16/lib/libdecora_sse.dylib
out/artifacts/javafx-sdk-16/lib/libfxplugins.dylib
out/artifacts/javafx-sdk-16/lib/libglass.dylib
out/artifacts/javafx-sdk-16/lib/libglib-lite.dylib
out/artifacts/javafx-sdk-16/lib/libgstreamer-lite.dylib
out/artifacts/javafx-sdk-16/lib/libjavafx_font.dylib
out/artifacts/javafx-sdk-16/lib/libjavafx_iio.dylib
out/artifacts/javafx-sdk-16/lib/libjfxmedia.dylib
out/artifacts/javafx-sdk-16/lib/libjfxmedia_avf.dylib
out/artifacts/javafx-sdk-16/lib/libjfxwebkit.dylib
out/artifacts/javafx-sdk-16/lib/libprism_common.dylib
out/artifacts/javafx-sdk-16/lib/libprism_es2.dylib
out/artifacts/javafx-sdk-16/lib/libprism_sw.dylib
out/artifacts/javafx-sdk-16/lib/src.zip
out/artifacts/Project_2_jar/Project 2_jar.jar
